<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Access Score</title>
    <link rel="stylesheet" href="trivia.css">
</head>

<body id="accessScores">
	<h1>Access Score</h1>
	<div>
        <form action="/accessScores" method="post">
            <label for="username">Get previous user's score: </label>
            <input type="text" id="username" name="username"></input> 
            <br><br>
            <input type="submit" value="Get Info" id="ques2">
        </form>
	</div>
</body>

</html>